<html>
  <body>
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello Prince lab Pvt - applied - 
      Junior Python Developer (Remote Internship – IT) TalendKompass deutschland - applied-
      Kurami job - python developer - applied
      Namlo Technologies -applied
      Bottle technology- applied
      sysqube - applied
      Naamche - applied
      ByteFaucet Technology- applied
      Kantipur Infotech- applied
      Danson Solutions (blockchain)- applied
      pana software company - applied
      Sandbox software - applied
      Nsdevil (north star devil)- applied
      sigmainc - applied World</h1>
    {% endif %}
  </body>
</html>
